<!DOCTYPE html>
<html>
	<head>
		<title>Rock, Paper, Scissors</title>
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="style/stylesheet.css" />
	</head>
	<body>
		<header>
		<h1>Rock Paper Scissors</h1>

		</header>

		<section>
			<center>
			<img src="images/rock.png" data-gesture="Rock" width='150' height='150'>
			<img src="images/paper.png" data-gesture="Paper" width='150' height='150'>
			<img src="images/scissors.png" data-gesture="Scissors" width='150' height='150'>


			</center>
		</section>

		<section>
		<h2>Select a gesture to play the game</h2>
		</section>




		<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
		<script src="javascript/RockPaperScissors.js"></script>
		<script src="javascript/game.js"></script>
		

		<script>


		</script>


	</body>
</html>